INSTALL_MODE=
OFFLINE_BUNDLE_ROOT=
ZABBIX_SERVER_HOSTNAME=
ZABBIX_WEB_SERVER_NAME=
ZABBIX_TIMEZONE=
ZABBIX_FRONTEND_PORT=
ZABBIX_DB_PASSWORD=
ZABBIX_ADMIN_PASSWORD=
TLS_ENABLED=
TLS_CERTIFICATE_FILE=
TLS_PRIVATE_KEY_FILE=
FIREWALL_WEB_SOURCES=
FIREWALL_SERVER_SOURCES=
FIREWALL_AGENT_SOURCES=
BASEOS_REPO=
APPSTREAM_REPO=
