[Unit]
Description=Run the Zabbix daily network health report

[Timer]
OnCalendar=__DAILY_REPORTING_ON_CALENDAR__
Persistent=true
RandomizedDelaySec=60
Unit=zabbix-daily-report.service

[Install]
WantedBy=timers.target
